name: coverage
on: [push]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        
      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      
      - name: generate test coverage
        run: go test -coverprofile=./cover.out -covermode=atomic
    
      - name: check test coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          profile: cover.out
          local-prefix: github.com/b-sea/supply-run-api
          threshold-file: 80
          threshold-package: 80
          threshold-total: 95
