name: test
on: [push]
jobs:
  lint:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        
      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          
      - name: run unit tests
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.56.2
         
          run: go test -coverprofile=./.test/coverage.out ./...
